:host {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    color: steelblue;
  }

  .jumbotron {
    background: steelblue;
    color: white;
    text-align: center;
  }
}


