:host {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    color: #4caf50;
  }

  .jumbotron {
    background: #4caf50;
    color: white;
    text-align: center;
  }
}


