<h2>Create Preset</h2>
<p>This will create a preset based on the current selected scenarios</p>
<label>Name for your preset </label>
<input type="text" name="presetname" [formControl]="presetNameControl" />
<div class="error" *ngIf="presetNameControl.touched && this.duplicateName">A preset with this name already exists. Please choose another one</div>
<div class="error" *ngIf="presetNameControl.touched && presetNameControl.hasError('required')">Please fill in a presetname</div>
<div class="alert alert-success" *ngIf="presetCreated">You preset has been created. Go to the <a routerLink="/presets">presets page</a> to view and select it.</div>
<div>
	<button mat-button mat-dialog-close class="btn">Cancel</button>
	<button (click)="createPreset()" class="btn-primary">Create preset</button>
</div>