# src
src

# test
test
**/*.spec.*

# configs
tsconfig.json
tslint.json
angular.json
commitlint.config.js
jest.config.js
proxy.config.json
sonar-project.properties
tsconfig.*.json

# idea
.idea
*.iml

# ci
.circleci

# other
images
