# src
src

# docs
images/dev-interface.png

# test
test
**/*.spec.*
cypress.config.ts

# configs
tsconfig.json
tslint.json
angular.json
commitlint.config.js
jest.config.js
proxy.config.json
sonar-project.properties
tsconfig.*.json
.releaserc
.eslintrc.json
.browserslistrc

# idea
.idea
*.iml

# ci
.circleci
.github

# build
.angular
# other

