:host {
  td {
    padding: 0.375rem 0.75rem;

    &.key {
      width: 30%;
    }
    &.value {
      width: 50%;
    }
    &.options {
      width: 20%;
    }

    input {
      margin: -0.175rem 0;
      height: calc(1.8rem + 2px);
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.175rem 0.75rem 0.175rem 0.75rem;
    }

    input[type='text'] {
      -moz-appearance: textfield;
      width: 100%;
    }

    .btn-primary {
      background: steelblue;
      color: white;
      border-radius: 0.25rem;

      &:focus {
        color: white;
        background: steelblue;
        border-color: steelblue;
        outline: 0;
      }
    }
  }
}
