:host {
  td {
    padding: 0.375rem 0.75rem;

    input {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.175rem 0.75rem 0.175rem 0.75rem;
      -moz-appearance: textfield;
      width: 100%;
    }

    .btn-primary {
      background: steelblue;
      color: white;
      border-radius: 0.25rem;

      &:disabled {
        background: lightgray;
        color: black;
      }

      &:focus {
        color: white;
        background: steelblue;
        border-color: steelblue;
        outline: 0;
      }
    }
  }
}
