@use '~@angular/material' as mat;
@import '~src/styles';

:host {
  mat-header-row {
    min-height: 30px;
    padding-left: 0px;

    mat-header-cell {
      padding-left: 10px;
      font-size: 16px;
      color: mat.get-color-from-palette($ngApimock-demoApplication-primary);
    }
  }

  mat-footer-row {
    min-height: 30px;
    padding: 7px 0 5px 0;

    mat-footer-cell {
      padding: 0 10px 0 10px;
      color: mat.get-color-from-palette($ngApimock-demoApplication-primary);
    }
  }

  mat-cell {
    padding: 0 10px 0 10px;
  }

  .mat-column-key, .mat-column-value  {
    flex: 0 0 45%;
  }

  .mat-column-options {
    flex: 0 0 10%;
  }

  input {
    border: 1px solid mat.get-color-from-palette($ngApimock-demoApplication-secondary, 300);
  }

  input:focus {
    z-index: 10;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem mat.get-color-from-palette($ngApimock-demoApplication-primary, 300);
  }
}
