@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";

:host {
  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-sm;

    pre {
      /deep/ span {
        white-space: normal;

        &.string {
          color: green;
        }
        &.number {
          color: darkorange;
        }
        &.boolean {
          color: blue;
        }
        &.null {
          color: magenta;
        }
        &.key {
          color: red;
        }
      }
    }

    thead {
      color: steelblue;

      th {
        padding: 0.175rem 0.75rem;
        font-weight: normal;
      }
    }

    tbody {
      td {
        padding: 0.375rem 0.75rem;
        &.key {
          width: 30%;
        }

        &.value {
          width: 70%;
        }
      }
    }
  }
}
