@use '@angular/material' as mat;
@use '../../../theme.scss';
@import '../../../style.scss';

:host {
  mat-header-row {
    min-height: 30px;
    padding-left: 0px;

    mat-header-cell {
      padding-left: 10px;
      font-size: 16px;
      color: mat.get-color-from-palette(theme.$ngapimock-primary);
    }
  }
  mat-footer-cell {
    display: flex; justify-content: flex-end
  }


  mat-cell {
    padding: 0 10px 0 10px;
  }

  .mat-column-name  {
    flex: 0 0 75%;
  }

  .mat-column-options {
    flex: 0 0 25%;
  }

  mat-header-cell.mat-column-options {
    display: flex;
    justify-content: flex-end;
    padding-right: 28px;
  }

  mat-cell.mat-column-options {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
  }

  input {
    border: 1px solid mat.get-color-from-palette(theme.$ngapimock-secondary, 300);
  }

  input:focus {
    z-index: 10;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem mat.get-color-from-palette(theme.$ngapimock-primary, 300);
  }
}
