<div class="container-fluid">

    <apimock-alert [change]="changed$"></apimock-alert>
    <h2>Available presets</h2>

    <apimock-mat-table-filter class="filter" placeholder="Filter variables"
                              (changed)="filter($event)"></apimock-mat-table-filter>
    <br/>

    <mat-table [dataSource]="dataSource" matSort class="presets">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Options</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-stroked-button (click)="selectPreset(element)">Select</button>
                <button mat-stroked-button (click)="showPresetDetails(element)">Details</button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-footer-cell *matFooterCellDef>
                <button mat-stroked-button (click)="createPreset()">Create preset</button>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="displayedFooterColumns; sticky: true"></mat-footer-row>
    </mat-table>
</div>
