@use '~@angular/material' as mat;
@import '~src/styles';

:host {
  /* badge */
  span {
    padding-top: 7px;
  }

  .mat-badge {

    &-content {
      border-radius: 3px;
      width: auto !important;
      padding: 0 7px;
      position: unset;
      color: white;
    }

    &-delete {
      .mat-badge-content {
        background: crimson;
      }
    }

    &-get {
      .mat-badge-content {
        background: mat.get-color-from-palette($ngApimock-demoApplication-primary, 500);
      }
    }

    &-post, &-put, &-patch {
      .mat-badge-content {
        background: mat.get-color-from-palette($ngApimock-demoApplication-primary, 800);
      }
    }
  }

  mat-header-row {
    min-height: 30px;
    padding-left: 0px;

    mat-header-cell {
      padding-left: 10px;
      font-size: 16px;
      color: mat.get-color-from-palette($ngApimock-demoApplication-primary);
    }
  }

  mat-footer-cell {
    display: flex; justify-content: flex-end
  }

  mat-cell {
    padding: 0 10px 0 10px;
  }

  .mat-column-name, .mat-column-url, .mat-column-timestamp {
    flex: 0 0 28%;
  }

  .mat-column-method {
    flex: 0 0 5%;
  }
  .mat-column-options {
    flex: 0 0 11%;
  }

}
