<div class="container-fluid">
    <h2>Recordings</h2>

    <table>
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let recording of data.recordings">
            <tr apimock-recording-overview-row [recording]="recording"></tr>
            <tr apimock-recording-overview-request-row [recording]="recording"
                *ngIf="recording.showRequestDetails"></tr>
            <tr apimock-recording-overview-response-row [recording]="recording"
                *ngIf="recording.showResponseDetails"></tr>
        </ng-container>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                <button (click)="enableRecording()" *ngIf="!data.record" class="btn-primary">Enable recording</button>
                <button (click)="disableRecording()" *ngIf="data.record" class="btn-primary">Disable recording</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>