@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";

:host {
  h2 {
    font-size: 1.25rem;
    color: #4caf50;
  }

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-sm;

    thead {
      color: #4caf50;

      th {
        padding: 0.175rem 0.75rem;
        font-weight: normal;
      }
    }
  }

  .btn-primary {
    background: #4caf50;
    color: white;
    border-radius: 0.25rem;
    margin-left: 5px;

    &:focus {
      color: white;
      background: #4caf50;
      border-color: #4caf50;
      outline: 0;
    }
  }
}
