:host {
  td {
    padding: 0.375rem 0.75rem;

    &.delay {
      width: 10%;
    }
    &.echo {
      width: 5%;
    }

    select, input {
      margin: -0.175rem 0;
      height: calc(1.8rem + 2px);
    }

    select {
      padding: 0.175rem 1.75rem 0.175rem 0.75rem;
    }

    input {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.175rem 0.75rem 0.175rem 0.75rem;
    }

    input[type='number'] {
      -moz-appearance: textfield;
      width: 100%;
    }

    .badge {
      float: right;
      color: white;
      padding-top: 5px;
      margin-top: 2px;
      background: #b1aeae;

      &-delete {
        background: crimson;
      }

      &-get {
        background: #4caf50;
      }

      &-post {
        background: seagreen;
      }

      &-put {
        background: seagreen;
      }
      
      &-patch {
        background: seagreen;
      }
    }
  }
}
