@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/input-group";

:host {
  h2 {
    font-size: 1.25rem;
    color: steelblue;
  }

  input, span {
    margin: -0.175rem 0;
    height: calc(1.8rem + 2px);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.175rem 0.75rem 0.175rem 0.75rem;
  }

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-sm;

    thead {
      color: steelblue;

      th {
        padding: 0.175rem 0.75rem;
        font-weight: normal;
      }
    }
  }

  .btn-primary {
    background: steelblue;
    color: white;
    border-radius: 0.25rem;
    margin-left: 5px;
  }
}
