<div class="container-fluid">

    <apimock-alert [change]="change$"></apimock-alert>
    <h2>Available mocks</h2>

    <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control search-mocks" placeholder="Filter mocks">
        <div class="input-group-append">
            <span class="input-group-text icon-filter"></span>
        </div>
    </div>
    <br/>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Criteria</th>
            <th>Scenario</th>
            <th>Delay</th>
            <th>Echo</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let mock of data.mocks | filter:searchText">
            <tr apimock-mock-overview-row [mock]="mock" [state]="data.state[mock.name]"
                (updated)="onUpdate($event)"></tr>
        </ng-container>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                <button (click)="resetMocksToDefaults()" class="btn-primary">Reset to defaults</button>
                <button (click)="setMocksToPassThrough()" class="btn-primary">All to passThrough</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
