@use '~@angular/material' as mat;
@include mat.core();

$ngApimock-demoApplication-primary: mat.define-palette(mat.$green-palette);
$ngApimock-demoApplication-secondary: mat.define-palette(mat.$grey-palette);
$ngApimock-demoApplication-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$ngApimock-demoApplication-warn: mat.define-palette(mat.$red-palette);

$ngApimock-demoApplication-theme: mat.define-light-theme((
        color: (
                primary: $ngApimock-demoApplication-primary,
                accent: $ngApimock-demoApplication-accent,
                warn: $ngApimock-demoApplication-warn,
        )
));
@include mat.all-component-themes($ngApimock-demoApplication-theme);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h2 {
  color: mat.get-color-from-palette($ngApimock-demoApplication-primary, 400)
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

table {
  border-collapse: collapse;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  padding-left: 10px;
  border-radius: 2px;
}

button {
  margin:0 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text-right {
  text-align: right !important;
}

mat-dialog-container {
  background-color: #fff;
}

.btn-primary {
  background: #4caf50;
  color: white;
  border-radius: 0.25rem;
  border-color: #4caf50;
  margin-left: 5px;

  &:hover {
    border-color: #4caf50;
  }

  &:focus {
    color: white;
    background: #4caf50;
    border-color: #4caf50;
    outline: 0;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon.eot?37hrac");
  src: url("assets/fonts/icomoon.eot?37hrac#iefix") format("embedded-opentype"),
  url("assets/fonts/icomoon.ttf?37hrac") format("truetype"),
  url("assets/fonts/icomoon.woff?37hrac") format("woff"),
  url("assets/fonts/icomoon.svg?37hrac#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}

.icon-chevron-up:before {
  content: "\e901";
}

.icon-chevron-down2:before {
  content: "\e902";
}

.icon-chevron-up2:before {
  content: "\e903";
}

.icon-filter:before {
  content: "\ea5b";
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

mat-table {
  border: 1px solid mat.get-color-from-palette($ngApimock-demoApplication-secondary, 300)
}

/* Material overrides */
mat-select {
  margin: 0 10px 0 0;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid mat.get-color-from-palette($ngApimock-demoApplication-secondary, 300);

  .mat-select-trigger {
    display: inline-table;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    padding-left: 10px;
  }
}

mat-row {
  min-height: 40px !important;
}
