@use '@angular/material' as mat;
@use '../../../theme.scss';
@import '../../../style.scss';

:host {
  mat-color-header-row {
    min-height: 30px;
    padding-left: 0px;

    mat-color-header-cell {
      padding-left: 10px;
      font-size: 16px;
      color: mat.get-color-from-palette(theme.$ngapimock-primary);
    }
  }

}
